In [24]:
#do not take too much degree to avoid overfitting
#more data,more degree--but computation power more lagega tto time more lagega
#but give high accuracy

In [25]:
import numpy as np,pandas as pd
import seaborn as sns

In [26]:
df=sns.load_dataset('tips')
df.head(6)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4
5       25.29  4.71    Male     No  Sun  Dinner     4

In [27]:
df=df.dropna()
df=df.drop(columns='smoker')
df.head()

   total_bill   tip     sex  day    time  size
0       16.99  1.01  Female  Sun  Dinner     2
1       10.34  1.66    Male  Sun  Dinner     3
2       21.01  3.50    Male  Sun  Dinner     3
3       23.68  3.31    Male  Sun  Dinner     2
4       24.59  3.61  Female  Sun  Dinner     4

In [28]:
df=pd.get_dummies(df,drop_first=True)
df

,total_bill,tip,size,sex_Female,day_Fri,day_Sat,day_Sun,time_Dinner
0,16.99,1.01,2,1,0,0,1,1
1,10.34,1.66,3,0,0,0,1,1
2,21.01,3.50,3,0,0,0,1,1
3,23.68,3.31,2,0,0,0,1,1
4,24.59,3.61,4,1,0,0,1,1
5,25.29,4.71,4,0,0,0,1,1
6,8.77,2.00,2,0,0,0,1,1
7,26.88,3.12,4,0,0,0,1,1
8,15.04,1.96,2,0,0,0,1,1
9,14.78,3.23,2,0,0,0,1,1
10,10.27,1.71,2,0,0,0,1,1
11,35.26,5.00,4,1,0,0,1,1
12,15.42,1.57,2,0,0,0,1,1
13,18.43,3.00,4,0,0,0,1,1
14,14.83,3.02,2,1,0,0,1,1
15,21.58,3.92,2,0,0,0,1,1
16,10.33,1.67,3,1,0,0,1,1
17,16.29,3.71,3,0,0,0,1,1
18,16.97,3.50,3,1,0,0,1,1
19,20.65,3.35,3,0,0,1,0,1
20,17.92,4.08,2,0,0,1,0,1
21,20.29,2.75,2,1,0,1,0,1
22,15.77,2.23,2,1,0,1,0,1
23,39.42,7.58,4,0,0,1,0,1
24,19.82,3.18,2,0,0,1,0,1
25,17.81,2.34,4,0,0,1,0,1
26,13.37,2.00,2,0,0,1,0,1
27,12.69,2.00,2,0,0,1,0,1
28,21.70,4.30,2,0,0,1,0,1
29,19.65,3.00,2,1,0,1,0,1
...,...,...,...,...,...,...,...,...
214,28.17,6.50,3,1,0,1,0,1
215,12.90,1.10,2,1,0,1,0,1
216,28.15,3.00,5,0,0,1,0,1
217,11.59,1.50,2,0,0,1,0,1
218,7.74,1.44,2,0,0,1,0,1
219,30.14,3.09,4,1,0,1,0,1
220,12.16,2.20,2,0,1,0,0,0
221,13.42,3.48,2,1,1,0,0,0
222,8.58,1.92,1,0,1,0,0,0
223,15.98,3.00,3,1,1,0,0,0
224,13.42,1.58,2,0,1,0,0,0
225,16.27,2.50,2,1,1,0,0,0
226,10.09,2.00,2,1,1,0,0,0
227,20.45,3.00,4,0,0,1,0,1
228,13.28,2.72,2,0,0,1,0,1
229,22.12,2.88,2,1,0,1,0,1
230,24.01,2.00,4,0,0,1,0,1
231,15.69,3.00,3,0,0,1,0,1
232,11.61,3.39,2,0,0,1,0,1
233,10.77,1.47,2,0,0,1,0,1
234,15.53,3.00,2,0,0,1,0,1
235,10.07,1.25,2,0,0,1,0,1
236,12.60,1.00,2,0,0,1,0,1
237,32.83,1.17,2,0,0,1,0,1
238,35.83,4.67,3,1,0,1,0,1
239,29.03,5.92,3,0,0,1,0,1
240,27.18,2.00,2,1,0,1,0,1
241,22.67,2.00,2,0,0,1,0,1
242,17.82,1.75,2,0,0,1,0,1
243,18.78,3.00,2,1,0,0,0,1

In [29]:
X=df.drop(columns='total_bill')
y=df['total_bill']

In [30]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=58)
print('shape of X_train=',X_train.shape)
print('shape of X_test=',X_test.shape)
print('shape of y_train=',y_train.shape)
print('shape of y_test=',y_test.shape)

shape of X_train= (195, 7)
shape of X_test= (49, 7)
shape of y_train= (195,)
shape of y_test= (49,)

In [31]:
from sklearn.preprocessing import MinMaxScaler

In [32]:
mms=MinMaxScaler()
mms.fit(X_train)
X_train=mms.transform(X_train)
mms.fit(X_test)
X_test=mms.transform(X_test)

In [33]:
#polynomial regression
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures

In [34]:
poly_reg=PolynomialFeatures(degree=2) #see info
poly_reg.fit(X_train)
X_train_poly=poly_reg.transform(X_train)
X_test_poly=poly_reg.transform(X_test)

In [35]:
X_train_reg.shape,X_test_reg.shape

((195, 36), (49, 36))

In [37]:
lr=LinearRegression()
lr.fit(X_train_poly,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [38]:
lr.score(X_test_poly,y_test)

0.35974504640822635

In [39]:
lr.predict([X_test_poly[0,:]])

array([41.86535255])

In [51]:
y_pred=lr.predict(X_test_poly)
y_pred

array([41.86535255, 16.72349823,  8.96224012, 39.09064767, 43.39306084,
       12.47565481, 14.84207536, 15.98516074, 10.67583205, 12.53381307,
        8.9561889 ,  7.83405622, 11.17916262, 17.32995593, 27.28821923,
       39.00479223, 37.66848565,  9.96216777, 23.46275063, 16.6442819 ,
       11.66775367, 16.6442819 , 19.6643736 , 14.2508274 , 12.45992411,
       -2.20323765,  7.31263632, 26.55903372, 26.76919145,  5.32910588,
        6.47639061, 13.07881509,  6.96212312,  8.86793401, 14.94498411,
       11.5777819 , 29.56186201, 11.23026944, 11.61774082, 38.66264018,
       10.25840697, 20.9728457 ,  9.85145367, 40.30035642,  6.96212312,
       19.86346383, 10.02834304,  8.82038205, 31.57557076])

In [52]:
y_test

211    25.89
103    22.42
242    17.82
156    48.17
214    28.17
41     17.46
55     19.49
232    11.61
169    10.63
66     16.45
126     8.52
233    10.77
8      15.04
223    15.98
157    25.00
239    29.03
155    29.85
220    12.16
154    19.77
89     21.16
84     15.98
80     19.44
38     18.69
234    15.53
139    13.16
92      5.75
121    13.42
119    24.08
4      24.59
135     8.51
145     8.35
120    11.69
75     10.51
201    12.74
179    34.63
209    12.76
200    18.71
203    16.40
193    15.48
185    20.69
144    16.43
114    25.71
43      9.68
197    43.11
235    10.07
191    19.81
68     20.23
127    14.52
216    28.15
Name: total_bill, dtype: float64

In [56]:
import numpy as np
from sklearn.metrics import mean_squared_error
mse=mean_squared_error(y_test,y_pred)
rmse=np.sqrt(mse)
mse,rmse

(46.393571097839136, 6.811282632356342)